.container {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  width: 100%;
  
 
  input { 
    flex-grow: 1;
    border: 0;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding-left: 20px;
  }

  input:focus{
    outline: none;
  }
 

  button { 
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    height: 36px;
    width: 36px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
  }
}




