.container{
  background-color: #ffe600;
  padding-top: 10px;
  padding-bottom: 10px;
}


.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: center;
}


.imageLogo {
  display: flex;
  align-self: center;
  margin-right: 20px;  
}